@charset "utf-8";
ul {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
}

/*管理系统头部样式*/
html {
    height: 100%;
}

html, body {
    height: 100%;
}

#top {
    width: 100%;
    height: 100%;
    background: #28b779;
    padding: 0 0 0 30px;
}

/*左边导航栏*/

#left-nav {
    width: 100%;
    height: 100%;
    background: #5C5C5C;
}

/*主题内容*/
#main {
    width: 100%;
    height: 100%;
    padding: 0 0 0 20px;
}

.main-page-location {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 8888;
    width: 100%;
    height: 40px;
}

.page-loc-box {
    width: auto;
    height: 40px;
    background: #eee;
}

.page-loc-item {
    line-height: 40px;
}

.page-loc-item a {
    color: #333;
}

.main-content {
    margin-top: 40px;
}

/*主题内容木块*/

.main-box {
    margin-top: 100px;
    width: auto;
    height: auto;
}

.main-box-title {
    width: auto;
    color: #333;
}

/*公共遮罩层*/
.public-layer {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}

.layer-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 900px;
    height: 500px;
    margin-top:-250px;
    margin-left:-450px;
    background: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
}











